@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,400,500,700,900&display=swap&subset=latin-ext");
@import url(c:\Users\User\Desktop\Front-end Project\assets\plugins\themify-icons\assets\themify-icons.min.css);
.category-item a {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
}

.category-item a:hover {
  text-decoration: none;
  color: #fff;
}

.category-item a i {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

.item-box {
  background-color: #fff;
}

.item-box .item-box-img-wrap {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item-box .item-box-img-wrap img {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item-box .item-box-img-wrap .item-box-calendar {
  position: absolute;
  top: 15px;
  left: 27px;
  max-width: 75px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.item-box .item-box-img-wrap .item-box-calendar h5 {
  font-size: 22px;
  margin: 0;
  padding: 4px;
}

.item-box .item-box-img-wrap .item-box-calendar .calendar-month {
  font-size: 16px;
  font-weight: 400;
}

.item-box .item-box-img-wrap .item-box-calendar .item-box-time {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 4px 0px;
  background-color: #FFBC09;
}

.item-box .item-box-content-wrapper {
  position: relative;
  padding: 15px;
}

.item-box .item-box-content-wrapper a {
  color: #343a40;
  text-decoration: none;
}

.item-box .item-box-content-wrapper a:hover {
  color: #FFBC09;
}

.item-box .item-box-content-wrapper .item-box-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.item-box .item-box-content-wrapper .item-box-title a {
  color: #292b2c;
}

.item-box .item-box-content-wrapper .item-box-title a:hover {
  color: #FFBC09;
  text-decoration: none;
}

.item-box .item-box-content-wrapper .item-box-text {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item-box .item-box-content-wrapper .item-box-text li {
  float: left;
  padding-right: 15px;
  font-size: 16px;
}

.item-box .item-box-content-wrapper .item-box-text li a,
.item-box .item-box-content-wrapper .item-box-text li span {
  font-family: "Roboto", sans-serif;
  color: #FFBC09;
  text-decoration: none;
  margin-left: 3px;
}

.item-box .item-box-content-wrapper .item-box-text li i {
  color: #292b2c;
  font-size: 14px;
}

.item-box .item-box-content-wrapper p {
  color: #888888;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
}

.item-box .item-box-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}

.item-box .item-box-footer ul.item-box-footer-list {
  font-family: "Roboto", sans-serif;
}

.item-box .item-box-footer ul.item-box-footer-list li {
  margin-right: 10px;
}

.item-box .item-box-footer ul.item-box-footer-list li a {
  font-size: 14px;
  color: #888888;
}

.item-box .item-box-footer ul.item-box-footer-list li a:hover {
  color: #FFBC09;
}

.item-box .item-box-footer ul.item-box-footer-list li a i {
  color: #FFBC09;
  margin-right: 6px;
}

.section-header .section-title {
  font-size: 32px;
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  margin-bottom: 22px;
}

.section-header .section-text {
  color: #888888;
  font-size: 16px;
}

.section-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(7, 41, 77, 0.7);
}

.color-white {
  color: #fff;
}

.bg-color-success {
  background-color: #B3D369;
}

.bg-color-danger {
  background-color: #F6475F;
}

.bg-color-warning {
  background-color: #FFBC09;
}

.bg-color-pink {
  background-color: #F94FA4;
}

.bg-color-blue {
  background-color: #38DDF7;
}

.bg-color-orange {
  background-color: #F89035;
}

.bg-color-gray {
  background-color: #f7f7f7;
}

.border-radius-10 {
  border-radius: 10px;
}

.size-16 {
  font-size: 16px !important;
}

.padding-section {
  padding: 100px 0px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-30 {
  padding-bottom: 30px;
}

.bg-shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#header-alert .alert-danger {
  margin-bottom: 0px;
  color: white;
  background-color: #F6475F;
  border: 0px;
  border-bottom: 1px solid #F6475F;
  border-radius: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 16px 0px;
  font-size: 15px;
}

#header-alert a {
  color: white;
  text-decoration: underline;
}

#header-alert .header-alert-close-btn {
  background-color: transparent;
  color: white;
  position: absolute;
  top: -5px;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  border: 0px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header-alert .header-alert-close-btn:hover {
  opacity: 0.8;
}

#header-alert .header-alert-close-btn:focus {
  outline: none;
}

#header-top {
  background-color: #343a40;
  border-bottom: 1px solid #343a40;
  padding: 10px 0px;
}

#header-top .header-contact li {
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
}

#header-top .header-contact li:first-child {
  margin-left: 0px;
}

#header-top .header-contact a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header-top .header-contact a:hover {
  color: #FFBC09;
}

#header-top .header-contact i {
  margin-right: 8px;
  vertical-align: middle;
  font-size: 18px;
}

#header-top .header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-top .header-top-right .header-social-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

#header-top .header-top-right .header-social-icons li {
  display: inline-block;
  padding: 2px 3px;
}

#header-top .header-top-right .header-social-icons li:last-child {
  margin-right: 10px;
}

#header-top .header-top-right .header-social-icons li a {
  color: white;
  padding: 7px;
  font-size: 14px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header-top .header-top-right .header-social-icons li a:hover {
  color: #FFBC09;
  text-decoration: none;
}

#header-top .header-top-right .header-login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#header-top .header-top-right .header-login li {
  padding-left: 15px;
}

#header-top .header-top-right .header-login li a {
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header-top .header-top-right .header-login li a:hover {
  color: #FFBC09;
  text-decoration: none;
}

#header-top .header-top-right .header-login::before {
  content: "";
  position: absolute;
  left: 0;
  height: 25px;
  width: 1px;
  background-color: #eee;
}

#header-top .header-top-right .header-login a.btn-warning {
  color: white;
  background-color: #FFBC09;
  font-size: 14px;
  padding: 6px 12px;
  position: relative;
}

#header-top .header-top-right .header-login a.btn-warning .btn-hover-effect {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 16px;
  display: none;
  position: absolute;
  top: 0;
  left: 13px;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#header-top .header-top-right .header-login a.btn-warning:hover .btn-hover-effect {
  display: block;
  color: white;
  -webkit-transform: skewX(-45deg) translateX(48px);
          transform: skewX(-45deg) translateX(48px);
}

#header-nav {
  background-color: #fff;
}

#header-nav .navbar {
  padding: 0px;
}

#header-nav .navbar .header-nav-list a.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 23px 10px;
  text-transform: uppercase;
}

#header-nav .navbar .header-nav-list a.nav-link::after {
  border: 0 none;
  content: "\f3d0";
  font-family: ionicons;
  height: auto;
  line-height: normal;
  margin-left: 5px;
  vertical-align: middle;
  width: auto;
}

#header-nav .navbar .header-nav-list a.nav-link:last-child::after {
  content: none;
}

#header-nav .navbar .header-nav-list a.nav-link:hover {
  color: #FFBC09;
}

#header-nav .navbar .header-nav-list a.nav-link.active {
  color: #FFBC09;
}

#header-nav .navbar .header-nav-list .dropdown-menu {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0px 0px;
  margin-top: -1px;
  border-radius: 0px;
  box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
}

#header-nav .navbar .header-nav-list .dropdown-menu .galery-sub-icon {
  opacity: 0.7;
  font-size: 10px;
  position: absolute;
  top: 49px;
  right: 10px;
}

#header-nav .navbar .header-nav-list .dropdown-menu .sub-dropdown {
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 158px;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0px 0px;
  border-radius: 0px;
  box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
}

#header-nav .navbar .header-nav-list .dropdown-menu .sub-dropdown .dropdown-item {
  padding: 8px 20px 8px 10px;
}

#header-nav .navbar .header-nav-list .dropdown-menu a.dropdown-item {
  color: #888888;
  padding: 8px 80px 8px 10px;
  font-size: 14px;
}

#header-nav .navbar .header-nav-list .dropdown-menu a.dropdown-item:hover {
  color: #FFBC09;
  background-color: #fff;
}

#header-nav .navbar .header-nav-list .dropdown-menu a.dropdown-item.active {
  color: #FFBC09;
  background-color: #fff;
}

#header-nav .navbar .header-nav-list .header-search-wrapper {
  border: 1px solid #ddd;
  right: 127px;
  opacity: 0;
  position: absolute;
  min-width: 300px;
  top: 100%;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  visibility: hidden;
  z-index: 999;
  background-color: #fff;
  padding: 14px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: calc(100% - 30px) 0;
          transform-origin: calc(100% - 30px) 0;
}

#header-nav .navbar .header-nav-list .header-search-wrapper .search-area {
  position: relative;
}

#header-nav .navbar .header-nav-list .header-search-wrapper .search-area .header-search-input {
  border-radius: 0;
  padding: 10px;
  height: auto;
}

#header-nav .navbar .header-nav-list .header-search-wrapper .search-area .header-search-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888888;
  font-size: 16px;
}

#header-nav .navbar .header-nav-list .header-search-wrapper .search-area .header-search-btn {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

#header-nav .navbar .header-nav-list .open-search-wrapper {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#footer-top {
  background-color: #343a40;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 100px;
  padding-bottom: 50px;
}

#footer-top .footer-img-logo {
  margin-bottom: 15px;
}

#footer-top .footer-top-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#footer-top .footer-blog li {
  margin-bottom: 12px;
}

#footer-top .footer-blog li .footer-blog-item .footer-blog-img {
  float: left;
  margin-right: 10px;
}

#footer-top .footer-search-input {
  padding: 10px 105px 10px 15px;
  width: 100%;
  border: 0;
  color: #777777;
  height: 43px;
}

#footer-top .footer-search-btn {
  background-color: #FFBC09;
  color: #fff;
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 6px 15px;
  outline: none;
}

#footer-top .footer-search-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#footer-top ul.footer-social-icons li {
  display: inline-block;
  padding: 2px 3px;
}

#footer-top ul.footer-social-icons li a {
  display: inline-block;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

#footer-top ul.footer-social-icons li a i {
  margin: 0px;
  font-size: 14px;
}

#footer-top ul {
  display: block;
}

#footer-top ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

#footer-top ul li:first-child {
  margin-top: 0px;
}

#footer-top ul li i {
  font-size: 18px;
  vertical-align: middle;
  max-width: 30px;
  width: 100%;
  text-align: center;
  margin-right: 5px;
}

#footer-top ul li p {
  margin-bottom: 0px;
}

#footer-top ul li a.hover-padding:hover {
  padding-left: 5px;
}

#footer-top ul li span.footer-blog-date {
  font-size: 12px;
  color: #888888;
}

#footer-top a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

#footer-top a:hover {
  color: #FFBC09;
}

#footer-bottom {
  background-color: #202325;
  font-size: 14px;
  color: #fff;
  padding: 30px 0px;
}

#footer-bottom .footer-bottom-copyright {
  margin: 0px;
}

#footer-bottom .footer-bottom-list ul {
  display: inline-block;
}

#footer-bottom .footer-bottom-list ul li {
  margin-left: 10px;
  display: inline-block;
}

#footer-bottom .footer-bottom-list ul li a {
  color: #fff;
  text-decoration: none;
}

#footer-bottom .footer-bottom-list ul li a:hover {
  color: #FFBC09;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  color: #292b2c;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

#categories-section {
  background-color: #fff;
}

#upcoming-events {
  background-color: #fff;
}

#upcoming-events .item-box:hover .item-box-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-teachers {
  position: relative;
}

#our-teachers .section-overlay-img {
  background-image: url("../images/teacher_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#our-teachers .section-overlay-img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  background-color: rgba(7, 41, 77, 0.9);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#our-teachers .section-header .section-title {
  color: #fff;
}

#our-teachers .section-header .section-text {
  color: #fff;
}

#our-teachers .profile-card {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#our-teachers .profile-card .profile-img-wrapper {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  overflow: hidden;
}

#our-teachers .profile-card .profile-img-wrapper .profile-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

#our-teachers .profile-card .profile-img-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#our-teachers .profile-card:hover .profile-img-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#our-teachers .profile-card .profile-info {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#our-teachers .profile-card .profile-info h5 {
  display: inline-block;
}

#our-teachers .profile-card .profile-info h5 a {
  color: #292b2c;
}

#our-teachers .profile-card .profile-info h5 a:hover {
  color: #FFBC09;
  text-decoration: none;
}

#our-teachers .profile-card .profile-info span {
  display: block;
  color: #888888;
}

#testimonial .item-box-img-wrap {
  padding-right: 15px;
  padding-left: 15px;
}

#testimonial .testimonial-box {
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 30px 30px 55px;
  margin: 5px 5px 5px 80px;
  position: relative;
  z-index: 1;
  width: 470px;
}

#testimonial .testimonial-box::before {
  content: "\f10e";
  position: absolute;
  right: 40px;
  top: 0;
  font-family: "Font Awesome 5 Free";
  font-size: 190px;
  line-height: normal;
  font-weight: 900;
  z-index: -1;
  color: rgba(0, 0, 0, 0.02);
}

#testimonial .testimonial-box .testimonial-img-wrapper {
  position: absolute;
  top: 15%;
  left: -13%;
}

#testimonial .testimonial-box .testimonial-img-wrapper img {
  border-radius: 5px;
}

#testimonial .testimonial-box .testimonial-content .testimonial-author {
  margin-bottom: 6px;
}

#testimonial .testimonial-box .testimonial-content .testimonial-author h6 {
  color: #292b2c;
}

#testimonial .testimonial-box .testimonial-content .testimonial-author span {
  color: #FFBC09;
  font-style: italic;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#testimonial .testimonial-box .testimonial-content .testimonial-text p {
  margin-bottom: 0px;
  font-size: 16px;
  color: #888888;
}

#our-blog .item-box .item-box-img-wrap {
  position: relative;
}

#our-blog .item-box .item-box-img-wrap a.item-box-img-overlay::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#our-blog .item-box:hover a.item-box-img-overlay::after {
  opacity: 0.5;
}

#our-blog .btn-wrapper button {
  color: #fff;
  padding: 12px 30px;
}

#our-blog .btn-wrapper button i {
  margin-left: 5px;
}

#get-started {
  color: #fff;
  background-color: #FFBC09;
  padding: 50px 0px;
}

#get-started h3 {
  margin-bottom: 15px;
}

#get-started p {
  margin: 0px;
}

#get-started .button-wrapper {
  width: 100%;
  height: 100%;
}

#get-started .button-wrapper .btn-outline-light {
  border: 2px solid #fff;
  padding: 10px 30px;
  margin: auto 0px;
}
/*# sourceMappingURL=style.css.map */