// Colors
$primary-color: #FFBC09;

$primary-black-color: #202325;
$secondary-black-color: #343a40;

$primary-text-color: #292b2c;
$secondary-text-color: #888888;

$success-color: #B3D369;
$warning-color: $primary-color;
$danger-color: #F6475F;

$pink-color: #F94FA4;
$blue-color: #38DDF7;
$orange-color: #F89035;

$overlay-color: rgba(7, 41, 77, 0.70);
$bg-gray-color: #F7F7F7;

// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Rubik', sans-serif;

// Font-sizes
$slider-title-size: 50px;
$slider-sub-title-size: 18px;