* {
  box-sizing: border-box;
}

body {
  // background-color: green;
  font-family: $secondary-font;
}

a {
  color: #292b2c;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

#categories-section {
  background-color: #fff;
}

#upcoming-events {
  background-color: #fff;

  .item-box {
    &:hover {
      .item-box-img {
        transform: scale(1.1);
      }
    }
  }
}

#our-teachers {
position: relative;

  .section-overlay-img{
    background-image: url("../images/teacher_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &::after{
      content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 1;
        background-color: rgba(7, 41, 77, 0.90);
        transition: all 0.5s ease-in-out;
    }
  }


  .section-header {
    .section-title {
      color: #fff;
    }

    .section-text {
      color: #fff;
    }
  }

  .profile-card {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    .profile-img-wrapper {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: relative;
      overflow: hidden;

      .profile-img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
      }
    }

    .profile-img-wrapper::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      background-color: black;
      transition: all 0.5s ease-in-out;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover {
      .profile-img-wrapper::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.5;
        background-color: black;
        transition: all 0.5s ease-in-out;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .profile-info {
      width: 100%;
      background-color: #fff;
      padding: 15px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      h5 {
        display: inline-block;

        a{
          color: $primary-text-color;

          &:hover{
            color: $primary-color;
            text-decoration: none;
          }
        }
      }
      span {
        display: block;
        color: $secondary-text-color;
      }
    }
  }
}

#our-blog {
  .item-box {
    .item-box-img-wrap {
      position: relative;
      a.item-box-img-overlay::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        background-color: black;
        transition: all 0.5s ease-in-out;
      }
    }

    &:hover {
      a.item-box-img-overlay::after {
        opacity: 0.5;
      }
    }
  }

  .btn-wrapper {
    button {
      color: #fff;
      padding: 12px 30px;

      i {
        margin-left: 5px;
      }
    }
  }
}

#get-started {
  color: #fff;
  background-color: $primary-color;
  padding: 50px 0px;

  h3 {
    margin-bottom: 15px;
  }
  p {
    margin: 0px;
  }

  .button-wrapper {
    width: 100%;
    height: 100%;

    .btn-outline-light {
      border: 2px solid #fff;
      padding: 10px 30px;
      margin: auto 0px;
    }
  }
}
